name: Tests unitaires

on:
  push:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout du code
      uses: actions/checkout@v4
      
    - name: Configuration de Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
        
    - name: Lancement des tests
      run: |
        export PYTHONPATH="${PYTHONPATH}:${GITHUB_WORKSPACE}"
        python3 tests/run_tests.py -udp -register -invalid-ep -login

